[Unit]
Description=Check BETMAN Data ingestion every ten minutes

[Timer]
OnBootSec=10m
OnUnitInactiveSec=10m
AccuracySec=30s
Persistent=true
Unit=betman-data-ingestion-health.service

[Install]
WantedBy=timers.target
